JUNGLE_PORT=8080

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=jungle
POSTGRES_PASSWORD=jungle
POSTGRES_DB=jungle
POSTGRES_SSLMODE=disable

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SQS_ENDPOINT_URL=http://localhost:4566
SQS_REQUEST_QUEUE_URL=http://localhost:4566/000000000000/wager-transactions.fifo
SQS_EVENT_QUEUE_URL=http://localhost:4566/000000000000/wager-events.fifo
SQS_CONSUMER_NAME=wager-transactions-consumer
SQS_MAX_MESSAGES=10
SQS_WAIT_TIME_SECONDS=10
SQS_VISIBILITY_TIMEOUT=60

OIDC_ISSUER_URL=http://localhost:8081/realms/jungle
OIDC_ADDITIONAL_ISSUERS=http://keycloak:8080/realms/jungle
OIDC_AUDIENCE=jungle-api
OIDC_DISCOVERY_TIMEOUT=90s

TRACING_ENABLED=true
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317
OTEL_SERVICE_NAME=jungle
TRACING_SAMPLE_RATIO=1.0

OUTBOX_INTERVAL=1s
REFERENCE_INTERVAL=5s
SHUTDOWN_TIMEOUT=20s

MIGRATIONS_PATH=migrations
